
<footer class="footer cloud-color">
	<div class="container">
  
    <div class="footer__links m-t-10 m-b-10">
      <ul class="flex-row justify-center">
        <li><a href="#" class="cloud-color">Privacy Policy</a></li>
        <li><a href="#" class="cloud-color">Terms &amp; Conditions</a></li>
        <li><a href="#" class="cloud-color">Contact Us</a></li>
      </ul>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-4">
        <div class="partner flex-row p-t-5 justify-center">
          <img src="{{"img/footer-logo.png" | absURL}}" class="img-responsive p-r-10">
          Powered by Goomo
        </div>
      </div>
      <div class="col-sm-4">
        <p class="default-size m-b-5 call-support">Call us for Support:</p>
        <div><a href="callto:+91 987 180 3333" class="cloud-color heavier">+91 987 180 3333</a> / <a href="callto:+91 965 400 3333" class="cloud-color heavier">+91 965 400 3333</a></div>
      </div>
      <div class="col-sm-4">
        <div class="footerText p-t-15">
          <p class="copyright">
           © 2017 Goomo. All rights reserved.
          </p>
        </div>
      </div>
    </div>


      
    </div>
</footer>
