<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mail</title>
	<link rel="stylesheet" href="{{"css/bootstrap.min.css" | absURL}}">
	<link href="{{"css/main.css" | absURL}}" rel="stylesheet">
</head>
<body class="mail-bg">

<div class="container mail-content">

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="mail-section">
			<div class="mail-section__head m-t-40 text-center">
				<img src="{{"img/ajency-logo.png" | absURL}}" class="img-responsive center-block" width="150">
				<p class="flex-row default-size text-lighter justify-center m-t-10 m-b-20">Powered by <img src="{{"img/mobiz.png" | absURL}}" class="img-responsive"></p>
			</div>
			<div class="mail-section__body text-center">
				<div class="user-profile flex-row space-between">
					<img src="{{"img/ajency-org.png" | absURL}}" class="img-responsive" width="100">
					<b>+</b>
					<img src="{{"img/mail-user.png" | absURL}}" class="img-responsive" width="100">
				</div>
				<h6 class="bolder m-t-30 m-b-30">Amar you have been added to Ajency.in Mobiz account by Sakshi (HR manager).</h6>
				<p>Mobiz is a hanbdy tool for frequent coporate travellers to book flights &amp; hotels in a convenient way.</p>
				<div class="credentails sub-title m-t-30">
					<label class="text-medium">User ID : <b>amar@ajency</b></label>
				</div>
				<div class="activate m-t-20 m-b-20">
					<button class="btn fnb-btn primary-btn full save-btn" type="button">Activate your account</button>	
				</div>
				
			</div>
			<div class="mail-points">
				<img src="{{"img/mail-section.png" | absURL}}" class="img-responsive">
			</div>
			<div class="mail-section__body text-center">
				<p class="text-lighter m-t-20 m-b-20">If you have any queries or face any problem during logging in, please contact the system admin, Sakshi (HR manager)</p>
				<img src="{{"img/happy-travel.png" | absURL}}" class="img-responsive center-block" width="180">
				<hr>
				<p class="flex-row default-size text-lighter justify-center m-t-10 m-b-20"><img src="{{"img/mobiz-bnw.png" | absURL}}" class="img-responsive" width="100"> Powered by Goomo</p>
				<h6 class="bolder m-b-20">Customer support number : +91-93338-93338</h6>
				<p class="text-lighter m-b-5">Copyright @ 2017 Goomo Group. All rights reserved.</p>
				<p class="text-lighter"><a href="#" class="text-lighter">Privacy Policy</a> | <a href="#" class="text-lighter">Privacy Policy</a></p>
			</div>


		</div>
	</div>
	<div class="col-sm-3"></div>
</div>

	
</div>


	
</body>
</html>